<footer class="pt-5 pb-2 mb-5">
  <div class="container-fluid">
    <div class="pt-5 mb-5 pb-5 border-top border-dark">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to "利用規約", terms_path, class: 'nav-link text-dark fw-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to "プライバシーポリシー", privacy_path, class: 'nav-link text-dark fw-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", contact_path, class: 'nav-link text-dark fw-bold' %>
        </li>
      </ul>
      <div class="pt-3">
      <p class="text-center text-muted">Copyright © 2023. ズボラーメン</p>
    </div>
  </div>
</footer>
