<footer>
  <div class="container-fluid">
    <div class="row bg-light">
      <ul class="nav justify-content-center border-bottom ">
        <li class="nav-item">
          <a><%= link_to "利用規約", "#", class: "nav-link px-2 text-muted" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "プライバシーポリシー", "#", class: "nav-link px-2 text-muted" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "お問い合わせ", "#", class: "nav-link px-2 text-muted" %></a>
        </li>
      </ul>
      <p class="text-center text-muted">Copyright © 2023. ズボラーメン</p>
    </div>
  </div>
</footer>
