<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logo.png' %>
      <% end %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to t('defaults.logout'), logout_path, class: 'nav-link text-dark fw-bold', method: :delete %>
        </li>
        <li class="nav-item">
          <%= image_tag current_user.avatar.url, size: '40x40', class: 'rounded-circle mr15' %>
        </li>
      </ul>
    </div>
  </nav>
</header>