<%= link_to "https://twitter.com/share?url=#{ request.url }&text=【おすすめのトッピング】%0a%0a#{ post.content }、カップラーメン好きと繋がりたい", target: '_blank' do %>
  <i class="fab fa-twitter" style='color: #3399FF;'></i>
  <span>この投稿をTwitterでシェア</span>
<% end %>